<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>private_cloud_config</key>
	<dict>
		<key>AppKey</key>
		<string>10000008</string>
		<key>AppSecret</key>
		<string>886eb01424cda17f997bb14e60abc5dc</string>
		<key>ACCSDomain</key>
		<string>emaspoc-acs.emas-ha.cn</string>
		<key>IPStrategy</key>
		<dict/>
		<key>MTOPDomain</key>
		<string>mnaas-k8s.emas-poc.com</string>
		<key>ChannelID</key>
		<string>1001@POC_iOS_1.0.0</string>
		<key>ZCacheURL</key>
		<string>http://publish-poc.emas-ha.cn/eweex/</string>
		<key>HAOSSBucketName</key>
		<string>emas-ha-remote-log-poc</string>
		<key>HAServiceID</key>
		<string>emas-ha</string>
		<key>HAUniversalHost</key>
		<string>emaspoc-adash.emas-ha.cn</string>
		<key>HATimestampHost</key>
		<string>emaspoc-aserver.emas-ha.cn</string>
		<key>HARSAPublicKey</key>
		<string></string>
		<key>HotfixServerURL</key>
		<string>http://emaspoc-hotfix-gate.emas-ha.cn</string>
		<key>UseHTTP</key>
		<false/>
	</dict>
</dict>
</plist>
