<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>private_cloud_config</key>
	<dict>
		<key>Environment</key>
		<string>release</string>
		<key>LogLevel</key>
		<string>none</string>
		<key>AppKey</key>
		<string>20000003</string>
		<key>AppSecret</key>
		<string>887349f0791ddce2ad0dbf22f8a5f81c</string>
		<key>UseSecurityGuard</key>
		<false/>
		<key>ChannelID</key>
		<string>600000@DemoApp_IOS_1.0.0</string>
		<key>ACCS</key>
		<dict>
			<key>Host</key>
			<string>aserver-pre1.emas-poc.com</string>
			<key>DefaultIP</key>
			<string></string>
			<key>DefaultPort</key>
			<integer>0</integer>
			<key>CustomAppVersion</key>
			<string>123</string>
			<key>SlightSSLPublickeyIndex</key>
			<integer>12</integer>
			<key>SupportLocalDnsWhenNoPolicy</key>
			<true/>
		</dict>
		<key>Network</key>
		<dict>
			<key>IPStrategy</key>
			<dict>
				<key>aserver-pre1.emas-poc.com</key>
				<array>
					<dict>
						<key>ip</key>
						<string>aserver-pre1.emas-poc.com</string>
						<key>port</key>
						<integer>80</integer>
						<key>publickey</key>
						<string>emas</string>
					</dict>
				</array>
			</dict>
			<key>EnableAMDC</key>
			<false/>
			<key>CanInitWithRequest</key>
			<false/>
		</dict>
		<key>MTOP</key>
		<dict>
			<key>Domain</key>
			<string>aserver-pre1.emas-poc.com:443</string>
			<key>APIDomain</key>
			<string>47.103.190.71:32480</string>
		</dict>
		<key>ZCache</key>
		<dict>
			<key>URL</key>
			<string>https://ceph-pre1.emas-poc.com/emas-cdn/eweex/</string>
		</dict>
		<key>HA</key>
		<dict>
			<key>RSAPublicKey</key>
			<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDRoI0VOQR/+qudSaq5Sv8AlE4K9a8p7UDxpNAbfFbvdfQPXF0KyuwUGjvOp/ZCDzOJCrKrMGfneEqObS+jf+C7VpkJ84TBTIjUx83l4dGU62FFcwzKMOq9rUBBT0fQrPU6HlTJwA2TEC3+VJQ1P+1urNuxxNBcB/g7ST2/VjpBjQIDAQAB</string>
			<key>OSSBucketName</key>
			<string>emas-ha</string>
			<key>UploadType</key>
			<string>1</string>
			<key>ServiceID</key>
			<string>emas-ha</string>
			<key>UniversalHost</key>
			<string>47.103.190.71:32380</string>
			<key>TimestampHost</key>
			<string>aserver-pre1.emas-poc.com:443</string>
		</dict>
		<key>Hotfix</key>
		<dict>
			<key>URL</key>
			<string>47.103.190.71:32280</string>
		</dict>
		<key>RemoteConfig</key>
		<dict>
			<key>Domain</key>
			<string>47.103.190.71:32280</string>
		</dict>
		<key>UseHTTP</key>
		<false/>
	</dict>
</dict>
</plist>
