<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>private_cloud_config</key>
	<dict>
		<key>AppKey</key>
		<string>10000016</string>
		<key>AppSecret</key>
		<string>ddc1f5c8b69da5e875a04e3278203fe2</string>
		<key>ChannelID</key>
		<string>1001@POC_iOS_1.0.0</string>
		<key>ACCS</key>
		<dict>
			<key>Domain</key>
			<string>emaspoc-acs.emas-ha.cn</string>
		</dict>
		<key>Network</key>
		<dict>
			<key>IPStrategy</key>
			<dict/>
		</dict>
		<key>MTOP</key>
		<dict>
			<key>Domain</key>
			<string>emaspoc-aserver.emas-ha.cn</string>
		</dict>
		<key>ZCache</key>
		<dict>
			<key>URL</key>
			<string>http://publish-poc.emas-ha.cn/eweex/</string>
		</dict>
		<key>HA</key>
		<dict>
			<key>RSAPublicKey</key>
			<string></string>
			<key>OSSBucketName</key>
			<string>emas-ha-remote-log-poc</string>
			<key>ServiceID</key>
			<string>emas-ha</string>
			<key>UniversalHost</key>
			<string>emaspoc-adash.emas-ha.cn</string>
			<key>TimestampHost</key>
			<string>emaspoc-aserver.emas-ha.cn</string>
		</dict>
		<key>Hotfix</key>
		<dict>
			<key>URL</key>
			<string>http://emaspoc-hotfix-gate.emas-ha.cn</string>
		</dict>
		<key>RemoteConfig</key>
		<dict>
			<key>host</key>
			<string>aserver-pre-k8s.emas-poc.com:30430</string>
		</dict>
		<key>UseHTTP</key>
		<true/>
	</dict>
</dict>
</plist>
