<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>10000020</string>
	<key>AppSecret</key>
	<string>ddc1f5c8b69da5e875a04e3278203fe2</string>
	<key>ACCSDomain</key>
	<string>emaspoc-acs.emas-ha.cn</string>
	<key>MTOPDomain</key>
	<string>emaspoc-aserver.emas-ha.cn</string>
	<key>ChannelID</key>
	<string>1001@POC_iOS_1.0.0</string>
	<key>packageZipPrefixURL</key>
	<string>http://publish-poc.emas-ha.cn/eweex/</string>
	<key>OSSBucketName</key>
	<string>emas-ha-remote-log-poc</string>
	<key>HAReportURL</key>
	<string>https://emaspoc-adash.emas-ha.cn/upload</string>
	<key>HARemoteDebugURL</key>
	<string>https://emaspoc-adash.emas-ha.cn</string>
</dict>
</plist>
