{
  "massPort" : "80",
  "pushPort" : "mlink.mpaasdemo.cloud.alipay.com",
  "smWebSocket" : "wss://kycprod.dl.alipaydev.com/ws",
  "mpaasapi" : "https://mpaasgwh2ake2.cloud.58test2b.aliyuncs.com/mgw.htm",
  "bundleId" : "com.ideax.xxx",
  "syncport" : "8666",
  "rootPath" : "mpaas/ios/90C5C0A051420-default",
  "massHost" : "100.88.169.36",
  "mdc" : "https://mpaasdcake2.cloud.58test2b.aliyuncs.com",
  "rpcGW" : "https://mpaasgwh2ake2.cloud.58test2b.aliyuncs.com/mgw.htm",
  "pushGW" : "mlink.mpaasdemo.cloud.alipay.com",
  "logGW" : "http://100.83.22.5",
  "base64Code" : "",
  "appId" : "90C5C0A051420",
  "appKey" : "90C5C0A051420_IOS",
  "syncserver" : "100.88.169.12",
  "workspaceId" : "default"
}