<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabSize</key>
	<integer>4</integer>
	<key>JSSource</key>
	<dict>
		<key>0</key>
		<string>http://publish-poc.emas-ha.cn/app/taobao-mobile-yanshi/show2-1.js</string>
		<key>1</key>
		<string>http://publish-poc.emas-ha.cn/app/taobao-mobile-yanshi/jserror.js</string>
		<key>2</key>
		<string>http://cdn.emas-poc.com/app/taobao-mobile-dfrctest/detail.js</string>
		<key>3</key>
		<string>http://cdn.emas-poc.com/app/taobao-mobile-dfrctest/index.js</string>
	</dict>
</dict>
</plist>