<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabSize</key>
	<integer>2</integer>
	<key>JSSource</key>
	<dict>
		<key>0</key>
		<string>http://114.55.200.178:7480/validate-emas-cdn/app/hlltest-weex_check_module/pages/detail/entry.js</string>
		<key>1</key>
		<string>http://114.55.200.178:7480/validate-emas-cdn/app/hlltest-weex_check_module/pages/detail/entry.js</string>
		<key>2</key>
		<string>http://114.55.200.178:7480/validate-emas-cdn/app/hlltest-weex_check_module/pages/index/entry.web.js</string>
		<key>3</key>
		<string>http://114.55.200.178:7480/validate-emas-cdn/app/hlltest-weex_check_module/pages/detail/entry.web.js</string>
	</dict>
</dict>
</plist>