<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>private_cloud_config</key>
	<dict>
		<key>Environment</key>
		<string>release</string>
		<key>LogLevel</key>
		<string>none</string>
		<key>AppKey</key>
		<string>20000003</string>
		<key>AppSecret</key>
		<string>c4f53789c39e444af966eb6f5dffcea0</string>
		<key>UseSecurityGuard</key>
		<false/>
		<key>ChannelID</key>
		<string>600000@DemoApp_IOS_1.0.0</string>
		<key>ACCS</key>
		<dict>
			<key>Host</key>
			<string>139.129.199.57</string>
			<key>DefaultIP</key>
			<string></string>
			<key>DefaultPort</key>
			<integer>0</integer>
			<key>CustomAppVersion</key>
			<string>123</string>
			<key>SlightSSLPublickeyIndex</key>
			<integer>12</integer>
			<key>SupportLocalDnsWhenNoPolicy</key>
			<true/>
		</dict>
		<key>Network</key>
		<dict>
			<key>IPStrategy</key>
			<dict>
				<key>139.129.199.57</key>
				<array>
					<dict>
						<key>ip</key>
						<string>139.129.199.57</string>
						<key>port</key>
						<integer>32243</integer>
						<key>publickey</key>
						<string>emas</string>
					</dict>
				</array>
			</dict>
			<key>EnableAMDC</key>
			<false/>
			<key>CanInitWithRequest</key>
			<false/>
		</dict>
		<key>MTOP</key>
		<dict>
			<key>Domain</key>
			<string>139.129.199.57:32280</string>
			<key>APIDomain</key>
			<string>139.129.199.57:32480</string>
		</dict>
		<key>ZCache</key>
		<dict>
			<key>URL</key>
			<string>http://139.129.199.57:7480/emas-cdn/eweex/</string>
		</dict>
		<key>HA</key>
		<dict>
			<key>RSAPublicKey</key>
			<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDrW08Zj5MbCzqbn4wtRm/aHfUi/Xnpx20pQHXlpjtyS7/ozDHu4oe1hs6bl2M9zlYIUp5bJ5OQ7eP6SbFWOycgUwG31BYq0/4sFo+dwIpDnMzbPAfOLvRJVFQnvtGinFJ88ERDiqifACJTtZPWqAsGd+9ka9vedlPuA9C3U31isQIDAQAB</string>
			<key>OSSBucketName</key>
			<string>emas-ha</string>
			<key>UploadType</key>
			<string>1</string>
			<key>ServiceID</key>
			<string>emas-ha</string>
			<key>UniversalHost</key>
			<string>139.129.199.57:32380</string>
			<key>TimestampHost</key>
			<string>139.129.199.57:32280</string>
		</dict>
		<key>Hotfix</key>
		<dict>
			<key>URL</key>
			<string>139.129.199.57:32280</string>
		</dict>
		<key>RemoteConfig</key>
		<dict>
			<key>Domain</key>
			<string>139.129.199.57:32280</string>
		</dict>
		<key>UseHTTP</key>
		<true/>
	</dict>
</dict>
</plist>
